In [5]:
# Subsetting or slicing strings in python - strides
Name = "Michael Jackson"
x = Name[::2]
x

'McalJcsn'

In [7]:
# Select tect between character limits - 0 and 4 - first 5 characters - slicing
y = Name[0:5:2]
y

'Mca'

In [8]:
# Determine the length of the string
len(Name)

15

In [11]:
# Concatenate strings
new = Name + "is my best friend ever!"
new

'Michael Jacksonis my best friend ever!'

In [12]:
## Create triplicates of a string
triple = 3 * Name
triple

'Michael JacksonMichael JacksonMichael Jackson'

In [14]:
# \n represents a new line and can be used to break a string into series of sentences
print("Michael Jackson \nis the best!")

Michael Jackson
is the best!

In [15]:
## A tab can be introduced using the \t
print("Michael Jackson \tis the best!")

Michael Jackson 	is the best!

In [20]:
#How to introduce a backslash in your string
print("Michael Jackson \\ is the best!")

Michael Jackson \ is the best!

In [29]:
# Chaning or modifying strings in python
A = "Thriller is the sixth studio album"
B = A.upper()
C = A.lower()
print(B)
print(C)

THRILLER IS THE SIXTH STUDIO ALBUM
thriller is the sixth studio album

In [30]:
# Replacing a subset of an input string
D = Name.replace("Michael", "Janet")
D

'Janet Jackson'

In [31]:
# Finding sub strings in a text
Name.find("el")

5

In [33]:
str(1+1)

'2'

In [34]:
x = 2/2
type(x)

float